body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.pinimg.com/736x/91/b0/95/91b095ac3a24db0ca9a6b14c20f5ebde.jpg');
    background-size: cover; /* Makes it cover the whole screen */
    background-position: center;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #fca5a5 !important;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
