body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    background-image: url('https://i.pinimg.com/736x/91/b0/95/91b095ac3a24db0ca9a6b14c20f5ebde.jpg');
    background-size: cover; /* Makes it cover the whole screen */
    background-position: center;
  }
  
  .container {
    text-align: center;
    transform: translateY(-15vh);
  }
  
  h1 {
    font-size: 2.5em;
    color: #fca5a5 !important;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }